:root {
  font-size: 62.5%;
  /* NEUTRAL */
  --clr-darkText: hsl(229, 25%, 31%);
  --clr-text: hsl(229, 64%, 46%);
  --clr-headerOutline: hsl(217, 16%, 45%);
  /* COLOR */
  --rockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --paperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --scissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-text);
}

/*+++++++++++++++++ 
  GENERAL LAYOUT
+++++++++++++++++*/

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

/* BUTTONS */

.btn {
  height: 50px;
  width: 200px;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-headerOutline);
  border-radius: 18px;
  background: transparent;
  color: var(--clr-headerOutline);
  margin: .5em auto;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn:hover, .btn:focus {
  background: #fff;
  color: currentColor;
  opacity: 0.8;
}

.btn-rules {
  width: 120px;
  height: 40px;
}

.btn-play {
  background-color: #f2f2f2;
  color: currentColor;
}

/*+++++++++
  HEADER
+++++++++*/
.hero {
  border: 1px solid var(--clr-headerOutline);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto 1em;
}

.title {
  padding: 1em;
}

.logo {
  width: 75%;
}

.score {
  margin: 1em;
  padding: .5em 1.5em;
  background: #f2f2f2;
  text-align: center;
}

.score h1 {
  color: var(--clr-darkText);
}


/* CHOOSE ELEMENT */
.choice-box {
  margin: 3em auto;
  padding: 2.5em 0;
  position: relative;
  border: 1px solid red;
}

/* GAMES ICONS */
.icons i, .game i {
  font-size: 4rem;
  color: var(--clr-darkText);
}

.rock-icon {
  background-color: rgba(255,255,255);
  border: 1rem solid;
  border-color: hsl(349, 70%, 56%);
  border-bottom-color: hsl(349, 71%, 52%);
  border-radius: 50%;
  padding: .75em;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  position: absolute;
  top: -.5em;
  left: -.75em;
}

.rock-icon-game {
  background-color: rgba(255,255,255);
  border: 1rem solid;
  border-color: hsl(349, 70%, 56%);
  border-bottom-color: hsl(349, 71%, 52%);
  border-radius: 50%;
  padding: .75em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.rock-icon:hover, .rock-icon-game:hover,
.rock-icon:focus, .rock-icon-game:focus {
  border-color: hsl(349, 70%, 56%);
  background-color: rgba(255,255,255,.9);
  color: var(--clr-text);
}

.paper-icon {
  background-color: white;
  border: 1rem solid;
  border-color: hsl(230, 89%, 62%);
  border-bottom-color: hsl(230, 89%, 65%);
  border-radius: 50%;
  padding: .75em .80em;

  position: absolute;
  top: -.5em;
  right: -.75em;
}

.paper-icon-game {
  background-color: white;
  border: 1rem solid;
  border-color: hsl(230, 89%, 62%);
  border-bottom-color: hsl(230, 89%, 65%);
  border-radius: 50%;
  padding: .75em .80em;
}


.paper-icon:hover, .paper-icon-game:hover,
.paper-icon:focus, .paper-icon-game:hover {
  border-color: hsl(230, 89%, 65%);
  background-color: rgba(255,255,255,.9);
  color: var(--clr-text);
}

.scissors-icon {
  background-color: white;
  border: 1rem solid;
  border-color: hsl(39, 89%, 49%);
  border-bottom-color: hsl(40, 84%, 53%);
  border-radius: 50%;
  padding: .75em;

  position: absolute;
  bottom: .75em;
  left: 30%;
}

.scissors-icon-game {
  background-color: white;
  border: 1rem solid;
  border-color: hsl(39, 89%, 49%);
  border-bottom-color: (40, 84%, 53%);
  border-radius: 50%;
  padding: .75em;
}

.scissors-icon:hover, .scissors-icon-game:hover,
.scissors-icon:focus, .scissors-icon-game:focus {
  border-color: hsl(40, 84%, 53%);
  background-color: rgba(255,255,255,.9);
  color: var(--clr-text);
}

/*+++++++
  GAME
+++++++*/
.game {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 3em 0;
}

.user-choice p,
.computer-choice p  {
  color: #f2f2f2;
  text-align: center;
  margin: 2em auto;
  text-transform: uppercase;
}

/* RESULT */
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.result h2 {
  color: #f2f2f2;
  font-size: 4rem;
}

.winner {
  background: radial-gradient(circle, hsl(237, 49%, 15%), hsl(214, 47%, 23%));
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

/* RULES */
.rules {
  width: 220px;
  height: 300px;
  background: rgba(255,255,255, 0.9);
  z-index: 3;
  position: absolute;
}

.rules h2 {
  margin: .5em;
}

.close {
  position: absolute;
  top: .1em;
  right: 0;
  margin: 1em;
  cursor: pointer;
}

.close:hover,
.close:focus {
  opacity: 0.8;
}

.rules-img {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
}

.hide {
  display: none;
}


@media only screen and (min-width: 768px) {
  .score {
    margin: 1em;
  }

  .game {
    justify-content: space-between;
    width: 70%;
  }

  .icons i, .game i {
    font-size: 5rem;
    color: var(--clr-darkText);
  }
  
  .scissors-icon {
    background-color: white;
    border: 1rem solid;
    border-color: hsl(39, 89%, 49%);
    border-radius: 50%;
    padding: .75em;
  
    position: absolute;
    bottom: 0;
    left: 27%;
  }
  
  .rules {
    width: 440px;
    height: 550px;
  }



}