.footer {
  width: 100vw;
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  margin: 0 50px 0 0;

  @media screen and (max-width: 678px) {
    justify-content: center;
    margin: 0 auto;
  }

  button {
    padding: 7px 25px;
    border-radius: 0.4rem;
    border: 3px solid $header-outline;
    color: lighten($header-outline, 20%);
    background: none;
    font-weight: 600;
    letter-spacing: 2px;
    transition: color 300ms ease;

    &:hover {
      transition: color 300ms ease;
      background-color: rgba($color: #fff, $alpha: 0.8);
      color: $dark-text;
      cursor: pointer;
    }
  }
}
