.header {
  display: flex;
  border: 3px solid $header-outline;
  width: 100%;
  max-width: 43.75rem;
  margin-top: 1.875rem;
  border-radius: 1rem;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 678px) {
    max-width: 90%;
    margin: auto;
    padding: 0.75rem;
  }

  .text {
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
    @media screen and (max-width: 678px) {
      font-size: 1.5rem;
      line-height: 1rem;
      justify-content: center;
    }
  }

  .score-box {
    padding: 0.5rem 2.5rem;
    background-color: #fff;
    color: $score-text;
    border-radius: 5px;
    @media screen and (max-width: 678px) {
      padding: 1rem;
      line-height: 1rem;
    }

    &__score {
      color: $dark-text;
      font-size: 3.5rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 678px) {
        font-size: 2rem;
        margin-top: 5px;
      }
    }
  }
}
