.play {
  width: 100%;
  position: relative;
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;

  .triangle {
    position: absolute;
    align-self: center;
    margin-top: 4.375rem;
  }

  .items {
    display: flex;
    justify-content: center;

    .icon {
      height: 160px;
      width: 160px;
      border: 18px solid;
      border-radius: 50%;
      transition: transform 0.2s;
      @media screen and (max-width: 678px) {
        height: 120px;
        width: 120px;
      }

      &--rock {
        @include icon($imageR, $rock-gradient);
        transform: translateX(-8rem);
        &:hover {
          transform: translateX(-8rem) scale(1.1);
        }
        @media screen and (max-width: 678px) {
          transform: translate(-7rem, 1rem);
          &:hover {
            transform: translate(-7rem, 1rem) scale(1.1);
          }
        }
      }

      &--paper {
        @include icon($imageP, $paper-gradient);
        transform: translate(8rem, -10rem);
        &:hover {
          transform: translate(8rem, -10rem) scale(1.1);
        }
        @media screen and (max-width: 678px) {
          transform: translate(7rem, -6.5rem);
          &:hover {
            transform: translate(7rem, -6.5rem) scale(1.1);
          }
        }
      }

      &--scissors {
        @include icon($imageS, $scissors-gradient);
        transform: translateY(-5rem);
        &:hover {
          transform: translateY(-5rem) scale(1.1);
        }
        @media screen and (max-width: 678px) {
          transform: translateY(-0.5rem);
          &:hover {
            transform: translateY(-0.5rem) scale(1.1);
          }
        }
      }
    }
  }
}
